<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  border-bottom box-shadow mb-3" style="background-color:#8B0000">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4> &copy; 2023 - LanchesMac</h4>
                    <p class="text-justify">
                        Aqui você encontra aquele lanche gostoso que da água na boca.
                        Aquela sobremesa saborosa e para acompanhar a sua bebida preferida.
                        E se você é vegetariano também vai encontrar o lanche, sobremesa e bebida do seu gosto.
                    </p>
                </div>

                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>Tem alguma dúvida ?</h4>
                    <ul class="list-unstyled">
                        <li class="py-1"> Av Ficticia - 03540-550 - São Paulo</li>
                        <li class="py-1"> +55(38)9 9937-2064</li>
                        <li class="py-1"> <a href="mailto:eduardo.david.dias@gmail.com" style="color: white">eduardo.david.dias@gmail.com</a></li>
                    </ul>
   
              
            </div>
        </div>
    </nav>
</footer>
