<div class="container">
    <img src="~/img/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/img/Envelope-icon24.png" />
            </span>
            <!--
            <h5><email endereco="eduardo.david.dias@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            -->
            <h5><a href="mailto:eduardo.david.dias@gmail.com">Enviar um e-mail</a></h5>
            <br />
            <span>
                <img src="~/img/phone-app-icon.png" />
            </span>
            <h5>
                (38)99937-2064
                <br />
                <span>
                    <img src="~/img/Home-iconred.png" />
                </span>
                <h5>Av Ficticia - 03540-550 - São Paulo</h5>
        </p>
    </div>
</div>